{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="row">
            <div class="col-3">
                <form action={{ path('app_product_index') }} method="get">
                    Category:
                    <select name="category">
                        <option value="Cat" {{ (selectedCat=="Cat") ? 'selected' }}> Cat</option>
                        <option value="Food" {{ (selectedCat=="Food") ? 'selected' }}>Food</option>
                        <option value="Accessory" {{ (selectedCat=="Accessory") ? 'selected' }}>Accessory</option>
                        <option value="Medicine" {{ (selectedCat=="Medicine") ? 'selected' }} >Medicine</option>
                    </select><br>

                    Min Price: <input type="number" name="minPrice"><br>
                    Max Price: <input type="number" name="maxPrice"><br>
                    <input type="submit" value="Filter" class="btn btn-primary"> |
                    <a href="{{ path('app_product_index') }}"
                       class="btn btn-primary">Reset</a>
                </form>
            </div>
            <div class="col-9">
                <div class="container">
                    <h4>Product Listing</h4>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for product in products %}
                            <div class="col">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{ asset('/public/images/') }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.Name }}</h5>
                                        <h6 class="card-subtitle">Category: {{ product.category }}</h6>
                                        <p>Price: {{ product.price }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ path('app_product_show', {'id': product.id}) }}"
                                           class="btn btn-primary">Show</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
